{% extends 'checklist/base.html' %}
{% block pagetitle %} Completed Checklists {% endblock %}

{% block content %}
<div class="container">
    <h1>Completed Checklists</h1>
    {% if checklists %}
            {% for checklist in checklists %}
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <a href="{% url 'checklist:view' checklist.id %}">{{ checklist.checklist_title }}</a>
                </div>
                <div class="col-md-4"></div>
            </div>
            {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                No checklists are complete!
            </div>
            <div class="col-md-6">
                <a href="{% url 'checklist:complete' %}">View incomplete checklists</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}